<!DOCTYPE html>

<html>

<head>
    <title>URL Shortener</title>
    <link rel="icon" type="image/png" href="../public/favicon.ico" />
    <link type="text/css" href="../public/style.css" rel="stylesheet" />
</head>

<body>
    <h1>URL Shortener Micro Service</h1>
    <main>
        <section>
            <form action="../api/shorturl/new" method="POST">
                <fieldset>
                    <legend>URL Shortener</legend>
                    <label for="url_input">URL:</label>
                    <input id="url_input" type="text" name="url" placeholder="Enter your URL" required />
                    <input type="submit" value="POST URL" />
                </fieldset>
            </form>
        </section>
        <section id='request-feedback'>
            <% if (status){%>
                <div>
                    <%if (status>=200 && status<300){%>
                            <p> Your request went through.</p>
                            <p> Your new short URL is:<a href='/api/shorturl/<%=url%>'>
                                    <%=url%>
                                </a></p>

                            <%}else{%>
                                <p>Error Code: <%=status%>
                                </p>
                                <% if(url){%>
                                    <p>
                                        <%=url%>
                                    </p>
                                    <%}%>
                                        <%}%>
                </div>
                <%}%>
        </section>
        <section id='url-list'>
      
            <table>
                <thead>
                    <tr>
                        <th>Full URL</th>
                        <th>Short URL</th>
                        <th>Clicks</th>
                        <th>Date Created</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% allUrls.forEach(url=>{ %>
                        <tr>
                            <td>
                                <a href='<%= url.longUrl %>'>
                                    <%=url.longUrl%>
                                </a>
                            </td>
                            <td>
                                <a href='/api/shorturl/<%=url.shortUrl%>'>
                                    <%=url.shortUrl%>
                                </a>
                            </td>
                            <td>
                                <%=url.clickCount%>
                            </td>
                            <td>
                                <%=url.dateCreated%>
                            </td>
                            <td>
                                <a href="/api/shorturl/delete/<%=url.shortUrl%>">
                                    <img src="https://img.icons8.com/ios/64/000000/trash--v2.png" class='trash-can' />
                                </a>
                            </td>
                            <% })%>
                        </tr>
                </tbody>

                </thead>
            </table>

        </section>
    </main>
    <footer>
        <p>By <a href="https://www.freecodecamp.org/">freeCodeCamp</a></p>
        <p> <a href="https://icons8.com/icon/uaoORHGarIl3/trash">Trash icon by Icons8</a></p>
    </footer>
</body>

</html>